body {
    background-color: #c4c2ff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    padding: 20px;
}

.container {
    background:white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    width: 100%;
    transition: all 0.3s ease-in-out;
    padding-right: 60px;
}

h1 {
    color: #4d47fb;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}

textarea, input {
    width: 100%;
    padding: 14px;
    margin: 12px 0;
    border-radius: 8px;
    border: 1px solid #BBE9FF;
    font-size: 16px;
    resize: vertical;
    background: #FFFFFF;
    transition: all 0.3s ease;
    color: black;
}

textarea:focus, input:focus {
    border-color: #BBE9FF;
    outline: none;
    box-shadow: 0 0 10px rgba(187, 233, 255, 0.4);
}

button {
    width: 20%;
    background: #0bb1fe;
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-weight: 600;
    text-transform: uppercase;
}

button:hover {
    background: #FFE9D0;
    color: #B1AFFF;
    box-shadow: 0 4px 10px rgba(187, 233, 255, 0.3);
}

.error {
    color: red;
    font-weight: bold;
    margin-top: 15px;
}

.result {
    margin-top: 20px;
    padding: 18px;
    background: #FFE9D0;
    border-left: 6px solid #BBE9FF;
    text-align: left;
    word-wrap: break-word;
    width: 100%;
    border-radius: 8px;
    color: black;
    font-weight: 500;
}

pre {
    background: #FFE9D0;
    padding: 12px;
    border-radius: 8px;
    white-space: pre-wrap;
    word-wrap: break-word;
    font-size: 14px;
    color: #022839;
    font-weight: 600;
}
